$base_font_family: 'Raleway', sans-serif;
$base_font_size: 15px;
$base_font_leading: 35px;
$base_font_weight: normal;
$base_font_style: normal;
$base_font_transform: uppercase;

$title_font_family: 'Permanent Marker', cursive;
$title_font_size: 50px;
$title_font_leading: $title_font_size;
$title_font_weight: normal;
$title_font_style: normal;
$title_font_transform: lowercase;

$foreground_color: #999999;
$background_color: white;
$link_color: #999999;
$logo_foreground_color: white;

$tint: #40d0a0;
$shade: #ecf0f0;

$logo_radius: 130px;
$title_vertical_offset: -35px;
$title_subtitle_distance: 10px;
$logo_border_radius: 100% 80% 100% 80%;
$logo_border_width: 12px;
$logo_nav_distance: 12px;
$nav_letter_spacing: 0.3ex;
